<li>
	<%= link_to group.group_name, group %>
	<div id="edit_delete_group">
		<%= link_to 'edit', edit_group_path(group)%>
		<%= link_to 'delete', group, method: :delete, data: {confirm: "You sure?"}%>
	</div>
</li>

	