<% provide(:title, @user.email) %>
<div class="container">
      <h2>
        All report of <%= @user.email %><br />
      </h2>
      <br /><br /><br />
      <table id='show_report' width='100%'>
      	<tr width='100%'>
      		<td width='15%'><b>Date created</b></td>
      		<td width='15%'><b>Title</b></td>
      		<td width='70'><b>Content</b></td>
      	</tr>
      	<% if @user.report.any? %>
	      		<% @user.report.each do |report|%>
	      			<tr>
		      			<% a= report.created_at
		      			   catalog = Catalog.find_by_id(report.catalog_id)
		      			%>
		      			<td><%= "#{a.year}-#{a.month}-#{a.day}"%></td>
		      			<td><%= catalog.title%></td>
		      			<td><%= report.content %></td>
	      			</tr>
	      		<%end%>
      	<%end%>
      </table>
</div>
